@theme inline {
  --color-white: #fcfcfc;
  --color-black: #0c0c1b;

  --color-gray: #e5e8ed;
  --color-gray-2: #d6d9df;
  --color-gray-3: #b4b7bd;
  --color-gray-4: #5f656d;
  --color-gray-5: #2f3436;
  --color-gray-6: #1c2022;

  --color-blue: #c3eeff;
  --color-blue-2: #01ace8;
  --color-blue-3: #1f75bb;
  --color-blue-4: #023e8a;
  --color-blue-5: #03045e;
  --color-blue-6: #121e31;

  --color-cyan: #e7f9f9;
  --color-cyan-2: #10a5a5;
  --color-cyan-3: #0b6f6f;

  --color-green: #e8f8eb;
  --color-green-2: #389e0d;
  --color-green-3: #0c6b20;

  --color-gold: #feffe6;
  --color-gold-2: #faad14;
  --color-gold-3: #916d00;

  --color-orange: #fff1e6;
  --color-orange-2: #ff7400;
  --color-orange-3: #c65d00;

  --color-red: #fde9ec;
  --color-red-2: #f5222d;
  --color-red-3: #a91a2c;

  --color-pink: #ffebf4;
  --color-pink-2: #bd3b89;
  --color-pink-3: #902055;

  --color-purple: #f6f0fb;
  --color-purple-2: #a667d3;
  --color-purple-3: #5f3b78;

  --container-app: 1280px;
}

@layer base {
  :root {
    --text: var(--color-blue-6);
    --bg: var(--color-white);
    --bg-secondary: var(--color-gray);
    --border-color: var(--color-gray-2);
  }

  :root.dark {
    --text: var(--color-gray);
    --bg: var(--color-gray-6);
    --bg-secondary: var(--color-gray-5);
    --border-color: var(--color-gray-4);
  }
}
