@theme inline { 
--color-white: #fbfbfb;
--color-black: #0d0d1d;

--color-gray-1: #e5e8ed;
--color-gray-2: #d6d9df;
--color-gray-3: #b4b7bd;
--color-gray-4: #5f656d;
--color-gray-5: #2f3436;
--color-gray-6: #1c2022;

--color-orange-1: #fca87f;
--color-orange-2: #f87635;
--color-orange-3: #fd4000;
--color-orange-4: #bd3800;

--color-blue-1: #1f75bb;
--color-blue-2: #023e8a;

--color-cyan-1: #10a5a5;
--color-cyan-2: #0b6f6f;

--color-green-1: #389e0d;
--color-green-2: #0c6b20;

--color-gold-1: #faad14;
--color-gold-2: #916d00;

--color-red-1: #f5222d;
--color-red-2: #a91a2c;

--color-pink-1: #bd3b89;
--color-pink-2: #902055;

--color-purple-1: #a667d3;
--color-purple-2: #5f3b78;
 }