@theme inline {
  --color-white: #fbfbfb;
  --color-black: #0d0d0d;

  --color-gray-1: #f3f3f3;
  --color-gray-2: #e9ecef;
  --color-gray-3: #ced4da;
  --color-gray-4: #6c757d;
  --color-gray-5: #343a40;
  --color-gray-6: #212529;

  --color-orange-1: #f9e3d8;
  --color-orange-2: #fca87f;
  --color-orange-3: #f87635;
  --color-orange-4: #fd4000;
  --color-orange-5: #bd3800;

--color-blue-1: #1f75bb;
--color-blue-2: #023e8a;

--color-cyan-1: #10a5a5;
--color-cyan-2: #0b6f6f;

--color-green-1: #389e0d;
--color-green-2: #0c6b20;

--color-gold-1: #faad14;
--color-gold-2: #916d00;

--color-red-1: #f5222d;
--color-red-2: #a91a2c;

--color-pink-1: #bd3b89;
--color-pink-2: #902055;

--color-purple-1: #a667d3;
--color-purple-2: #5f3b78;
 }